/*Nav Bar*/
.navbar-brand
{
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin:0 auto;
}
.navbar-toggle {
    z-index:3;
}

.navbar, button#start, button#done {
    margin-bottom: 0;
    background-color: #5e9ea7;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
}

.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}

.navbar-nav li a button:hover, .navbar-nav li.active a {
    color: #5e9ea7 !important;
    background-color: #fff !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}

/*Title Block*/
.jumbotron {
    text-align: center;
    background-color: #5e9ea7;
    color: #fff;
    padding: 100px 25px;
}

.container-fluid {
    padding: 10px 50px;
}

img {
    width: 75px;

}

.panel-default>.panel-heading {
    color: white;
    text-align: center;
    background-color: #5e9ea7;
}
